@model List<AsparagusApp.Models.AsparagusLogViewModel>
@{
    ViewData["Title"] = "Report";
}
<form class="text-center">
<h1 class="h3 mb-3 fw-normal">Статистика</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>LastDate</td>
                    <td>Count</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.Email</td>
                        <td>@p.LastDate</td>
                        <td>@p.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

